{% load staticfiles %}

{% load globaltags %}
<div class="container-fluid">
 <!-- Second navbar for search -->
 <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
       <a class="navbar-brand" href="{% url 'homepage' %}">Guo Shucun</a>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="navbar-collapse-3">
       <ul class="nav navbar-nav navbar-right">
         <li><a href="{% url 'homepage' %}">Home</a></li>
         <!-- <li><a href="{% url 'contact_page' %}">Contact</a></li> -->
         <!--<li><a href="#">Resource</a></li>-->
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Essay <b class="caret"></b></a>
          <ul class="dropdown-menu" style="max-height: 860px;">
            {% categoryessays as category_essay_list %} 
            {% for category  in category_essay_list  %}
            <li>
              <a class="popular-entry-title-link" href="{% url 'category' category.pk %}">
                 {{ category.name }}
              </a>   
            </li>
           {% empty %}
           <p>No essay yet</p>
           {% endfor %}
          </ul>
        </li> 

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Life <b class="caret"></b></a>
          <ul class="dropdown-menu" style="max-height: 860px;">
            {% categorylifes as category_life_list %} 
            {% for category  in category_life_list  %}
            <li>
              <a class="popular-entry-title-link" href="{% url 'category' category.pk %}">
                 {{ category.name }}
              </a>   
            </li>
           {% empty %}
           <p>No life yet</p>
           {% endfor %}
          </ul>
        </li>          
        <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tech <b class="caret"></b></a>
           <ul class="dropdown-menu" style="max-height: 860px;">
             {% categorytech as category_list %} 
             {% for category  in category_list  %}
             <li>
               <a class="popular-entry-title-link" href="{% url 'category' category.pk %}">
                  {{ category.name }}
               </a>   
             </li>
            {% empty %}
            <p>No tech yet</p>
            {% endfor %}
           </ul>
        </li>  
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Timeline <b class="caret"></b></a>
          <ul class="dropdown-menu" style="max-height: 860px;">
            {% archivesposts as archives_list %}
            {% for archives  in archives_list %}
            <li>
              <a class="popular-entry-title-link" href="{% url 'archives' archives.year archives.month %}">
                {{ archives.year }}年{{ archives.month }}月
              </a>  
            </li>
            {% empty %}
              <p>No archives yet</p>
            {% endfor %}
          </ul>  
        </li>         
        <!-- <li><a href="{% url 'sitemap_page' %}">Sitemap</a></li> -->
        <!-- <li><a href="{% url 'trending_posts_page' %}">Trending</a></li> -->
        <li><a href="{% url 'photos:index' %}">Photos</a></li>
        <li><a href="{% url 'feed' %}" target="_blank">Feed</a></li>
        <li>
          <a class="btns btns-outline btns-circle collapsed "  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">Search</a>
        </li>
       </ul>
       <div class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse3">
         <form method="get" action="{% url 'search_posts_page' %}" class="navbar-form navbar-right" role="search">
           <div class="form-group">
             {% csrf_token %}
             <input type="text" name="q" maxlength="140" class="form-control cst__radius" placeholder="Search" required/>
           </div>
           <button type="submit" class="btn btn-danger cst__radius"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
         </form>
       </div>
     </div><!-- /.navbar-collapse -->
   </div><!-- /.container -->
 </nav><!-- /.navbar -->
</div><!-- /.fluid -->
